<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.puri.mapper.PuriMapper">
	<!-- 회원가입 -->
	<insert id="SignUp" parameterType="kr.puri.entity.Member">
		insert into member
		values(#{id}, #{pw}, #{nick}, #{gender}, #{age})
	</insert>

	<select id="Login" resultType="kr.puri.entity.Member"
		parameterType="kr.puri.entity.Member">
		select * from Member where id=#{id} and pw=#{pw}
	</select>

	<select id="memberList" resultType="kr.puri.entity.Member">
		select * from Member
	</select>

	<select id="idCheck" parameterType="kr.puri.entity.Member" resultType="String">
		SELECT count(*) FROM member WHERE id = #{id}
	</select>
	
	<insert id="q_Insert" parameterType="kr.puri.entity.Question">
      insert into question values(question_seq.nextval, #{q_1}, #{q_2}, #{q_3}, #{q_4}, #{q_5}, #{q_6}, #{q_7}, #{id})
   </insert>
	

</mapper>