<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.puri.mapper.PuriMapper">
	<!-- 회원가입 -->
	<insert id="SignUp" parameterType="kr.puri.entity.Member">
		insert into member values(#{id}, #{pw}, #{nick}, #{gender}, #{age})
	</insert>

	<select id="memberLogin" resultType="kr.puri.entity.Member"
		parameterType="kr.puri.entity.Member">
		select * from Member where id=#{id} and pw=#{pw}
	</select>

     <select id="memberList" resultType="kr.puri.entity.Member">
      select * from Member
  	 </select>
 

</mapper>