.signup-input{
    display:flex;
    /* margin: 0px 10px 8px 10px; */
    padding: 10px;
    background: #fff;
    cursor: pointer;
}
.signup-input-c{
    display:flex;
    /* margin: 0px 10px 8px 10px; */
    padding: 10px;
    border: solid 1px #dadada;
    background: #f5f6f7;
    cursor: pointer;
}
.signup-input-c input{
    background: #f5f6f7;
    
}

a{
	color: #000;!important 
}

.bottommargin{
	margin-bottom: 0em;!important 
}



.checkbtn{
	color: #fff;
	background-color: #69b27a;
	border-color: #69b27a;
	border: 1px;
	float: right;
	border-radius: 5px;
}

.container {
   min-height: 100vh;
  /*background-color: rgba(0, 0, 0, .5);*/
  background-color: rgb(178 212 172 / 50%);
}

.input-form {
   max-width: 680px;
   margin-top: 80px;
   padding: 32px;
   background: #fff;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
   -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
   box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}

#Singup {
   border-bottom: solid 1px #d2d7dc;
   padding-bottom: 10px;
}

.where {
   text-align: center;
}